# 已拆分为四个 Conda 环境，请按需安装：
#
#   pip install -r 2dgs_aigc/requirements_env_colmap.txt
#   pip install -r 2dgs_aigc/requirements_env_gs.txt
#   pip install -r 2dgs_aigc/requirements_env_sdi.txt
#   pip install -r 2dgs_aigc/requirements_env_magic123.txt
